<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <div class="thumbnail">
        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= post.user.username %></strong> <span class="text-muted"><%= post.created_at.to_formatted_s(:long)  %></span>
        </div>
        <div class="panel-body">
          <%= post.description %>
        </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->

  </div><!-- /row -->

</div><!-- /container -->