<% if not current_user.nil? %>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <%= current_user.username %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <div style="padding: 10px;">
          <%= link_to new_discussion_path  do %>
              &nbsp;<span class="glyphicon glyphicon-file"></span> new discussion
          <% end %>
        </div>
        <div style="padding: 10px;">
          <%= link_to signout_path, method: :delete  do %>
              &nbsp;<span class="glyphicon glyphicon-log-out"></span> signout
          <% end %>
        </div>
      </ul>
    </li>
<% else %>
    <li><%= link_to "Sign in with Github", "/auth/github", class: 'btn' %></li>
<% end %>
